* {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

ul > li, ol > li {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 400px;
}

#recipe-links > li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
}

#title {
    text-align: center;
    padding-left: 30px;
    font-size: 50px;
}